div.MetricsSummaryPanel th#empty-cell {
    border: none;
}

div.MetricsSummaryPanel table {
    margin: 20px;
}

div.MetricsSummaryPanel > table,
div.MetricsSummaryPanel > div.MetricsBulletChart {
    vertical-align: top;
}