tr.MetricsSummary,
tr.MetricsSummary td,
tr.MetricsSummary th {
    border-collapse: collapse;
    text-align: center;
}

tr.MetricsSummary th,
tr.MetricsSummary td {
    border: solid 1px rgba(0,0,0,0.75);
    padding: 5px 10px;
    width: 30px;
}

tr.MetricsSummary th {
    font-weight: bold;
}

tr.MetricsSummary td {
    color: rgba(0,100,150,1);
}

tr.MetricsSummary td:first-child {
    text-align: left;
    font-weight: 600;
}
