div.MetricsSummaryTab .radio-tab {
    display: none;
}

/* -- DIVS -- */

div.MetricsSummaryTab input[type="radio"]#radio-tab-f77:checked~div#main-content>div#panel-f77 {
    display: block;
}

div.MetricsSummaryTab input[type="radio"]#radio-tab-f90:checked~div#main-content>div#panel-f90 {
    display: block;
}

div.MetricsSummaryTab input[type="radio"]#radio-tab-sh:checked~div#main-content>div#panel-sh {
    display: block;
}

div.MetricsSummaryTab {
    max-width: 1280px;
    margin: 50px auto;
}

div.MetricsSummaryTab label#tab-pane-f77 {
    position: relative;
    left: 0px;
    z-index: 10;
}

div.MetricsSummaryTab label#tab-pane-f90 {
    position: relative;
    left: -20px;
    z-index: 9;
}

div.MetricsSummaryTab label#tab-pane-sh {
    position: relative;
    left: -40px;
    z-index: 8;
}

div.MetricsSummaryTab input[type="radio"]:checked+label {
    background: rgba(100, 200, 200, 1);
}

div.MetricsSummaryTab input[type="radio"] {
    display: none;
}


/* -- DIVS -- */

div.MetricsSummaryTab div[role="main-content"]#main-content {
    position: relative;
    border: solid 1px rgba(0, 75, 255, 0.5);
    display: block;
    margin: 20px 50px;
}

div.MetricsSummaryTab div.panel {
    display: none;
}

div.MetricsSummaryTab input[type="radio"]#radio-tab-f77:checked~div#main-content>div#panel-f77 {
    display: block;
}

div.MetricsSummaryTab input[type="radio"]#radio-tab-f90:checked~div#main-content>div#panel-f90 {
    display: block;
}

div.MetricsSummaryTab input[type="radio"]#radio-tab-sh:checked~div#main-content>div#panel-sh {
    display: block;
}


/* -- LABELS -- */

div.MetricsSummaryTab .tab-pane {
    display: inline-block;
    width: 50px;
    text-align: center;
    height: 20px;
    line-height: 20px;
    padding: 5px 50px;
    cursor: pointer;
    border: solid 1px rgba(0, 75, 255, 1);
    margin: 0px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 15px;
    border-radius: 0px 30px 0px 0px;
    background: rgba(255, 255, 255, 1);
}

div.MetricsSummaryTab #tab-pane-f77 {
    position: relative;
    left: 0px;
    z-index: 10;
}

div.MetricsSummaryTab #tab-pane-f90 {
    position: relative;
    left: -20px;
    z-index: 9;
}

div.MetricsSummaryTab #tab-pane-sh {
    position: relative;
    left: -40px;
    z-index: 8;
}

div.MetricsSummaryTab label[role="tab-pane"].tab-pane#tab-pane-f90 {
    position: relative;
    left: -20px;
}

div.MetricsSummaryTab input[type="radio"].radio-tab:checked+label[role="tab-pane"].tab-pane {
    background: rgba(75, 160, 200, 1);
}